
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.display-flex{
    display: flex;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* Header Styles */


.text-primary{
    color: #FF900E;
}


/* Some fact related styles */
.section-title{
    margin-bottom: 24px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.facts-description{
max-width: 540px;
margin-bottom: 100px;

}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 60px;
}
.fact-icon{
    margin-top: 45px;
}

/* Dark 02 */
.text-grey{
    color: #424242
}

/* Dark 03 */
.text-light-grey{
    color: #727272;
}

/* Dark 01 */
.main-title-color{
    color: #131313
}

.bg-lite{
    background: rgba(255, 144, 14, 0.10);
}

/* navbar related styles */

.navbar{
 justify-content: space-between;
 max-width: 1440px;
 margin: auto;
 align-items: center;
}

.nav-items{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

 .brand-name{ 
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Banner related Styles */

.banner{
    margin: auto;
    max-width: 1440px;
}


.banner-content{
    max-width: 865px;
    margin: auto;
    text-align: center;
}

.banner-title{
    width: 862px;
    height: 149px;
    flex-shrink: 0;
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
}

.banner-description{
    width: 868px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-primary{
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin-bottom: 50px ;
}

.banner-image{
    width:100%
}


main{
    max-width: 1440px;
    margin: auto;
}

main > section{
    margin-top: 130px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.feauture-description{
    margin-bottom: 32px;
}

#quick-list{
    font-weight: 500;
}
.our-features{
   margin-left: 75px;
   max-width: 530px;
}
.quick-list{

}

.features{

}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 130px;

}

.sponsor-companies img{
    filter:grayscale(100%);
}



/* Feature section related styles */
#feature-section-title{
    border-left: 5px solid #FF900E ;
    padding-left: 20px;
}

.features{
    gap:140px
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;

}
.featured-architect img{
    width: 100%;
}

.feature-description{
    max-width: 514px;
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;

}

#experience-badge{
 padding: 45px 25px; 
 font-size: 1.5rem;
 font-weight: 500;
 font-family: "Work Sans";
 margin-left: -100px;
 margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.btn-badge{
    width: 342px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF

}



.section-description{
    max-width: 586px;
    padding-bottom: 30px;
    font-size: 1rem;
    line-height: 1.6rem
}

/* team & feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}


.sponsor-info{
    max-width:540px;
    margin: 50px auto;
    text-align: center;

}

.footer-section-title{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 35px 240px;



}

.footer-background{
    margin: auto;
    max-width: 1440px;
    height: 80px;
    border-radius: 8px;
    background: #FFF4E7;


}

/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }

    .features{
        flex-direction: column;
    }
    .banner-title{
        width: 100%;
        margin-bottom: 100px;
    }
    .banner-description{
        width: 100%;
    }

    .banner-image{
        height: 100%;
        width: 100%;
    }

    .nav-links{
        flex-direction: column;
    }

    .teams{
        flex-direction: column;
    }

    .team-img-container, 
    .facts-container, 
    .sponsor-companies          
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
        
    }

    .our-features{
        margin-left: 20px;
}

#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}

.footer-section-title{
    width:100% 
}

}





/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {          
    .teams, .features, {
        flex-direction: column;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    
    .our-features{
        margin-left: 50px;
    }


    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;

} 

#experience-badge{
    margin-top: 20px;
    margin-left: 20px;
}

}
